extends layout.jade

block customHeader
  title= article.title
  style.
    .article-metadata {
      margin: 10px 0 10px 0;
    }

block mainContent
  #article
    h1= article.title
    div.article-metadata
      +userLabel(article.author)
      span &nbsp;#{i18n.getMessage("ui_created_at")}&nbsp;
      +humanTimeLabel(article.whenCreated)
      if article.whenCreated != article.whenModified
        span &nbsp;#{i18n.getMessage("ui_modified_at")}&nbsp;
        +humanTimeLabel(article.whenModified)
      if article.author.id == userSelf.id
        a(href="/articles/#{article.id}/edit")=i18n.getMessage("ui_edit")
    div!= article.outputContent
