mixin css(path)
  link(href=path, rel="stylesheet", type="text/css")

mixin js(path)
  script(src=path)

mixin libCss(names)
  for name in Resources.convertLibNames(names, '.css')
    +css(cdn + "/static/lib/css/" + name)
  
mixin libJs(names)
  for name in Resources.convertLibNames(names, '.js')
    +js(cdn + "/static/lib/js/" + name)

mixin distCss(names)
  for name in Resources.convertDistNames(names, '.css')
    +css(cdn + "/static/dist/" + name)

mixin distJs(names)
  for name in Resources.convertDistNames(names, '.js')
    +js(cdn + "/static/dist/" + name)

mixin header
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  meta(name="description" content="PubState")
  link(href='/favicon.ico' rel="icon")
  +libCss(['bootstrap', 'bootstrap-theme'])
  +distCss(['main'])

mixin footer
  footer
    p Powered by 
      a(href="https://github.com/sorra/pubstate") PubState
  +libJs(['jquery', 'bootstrap'])
  +distJs(['runtime', 'main'])

mixin userLabel(u)
  span.user-label(data-id=u.id)
    a.user-avatar(href="/users/#{u.id}")
      img(src="#{cdn}/static/avatars/#{u.avatar}")
    a.user-name(href="/users/#{u.id}")= u.name

mixin humanTimeLabel(dt)
  span.human-time(data-time=dt.time)= HumanTime.render(dt)

mixin showCount(count)
  if count > 0
    | #{count}
