mixin css(path)
  link(href=path, rel="stylesheet", type="text/css")

mixin js(path)
  script(src=path)

mixin libCss(names)
  for name in Resources.convertLibNames(names, '.css')
    +css(cdn + "/static/lib/css/" + name)

mixin libJs(names)
  for name in Resources.convertLibNames(names, '.js')
    +js(cdn + "/static/lib/js/" + name)

mixin distCss(names)
  for name in Resources.convertDistNames(names, '.css')
    +css(cdn + "/static/dist/" + name)

mixin distJs(names)
  for name in Resources.convertDistNames(names, '.js')
    +js(cdn + "/static/dist/" + name)

mixin header
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  meta(name="description" content="PubState")
  link(href='/favicon.ico' rel="icon")
  +libCss(['bootstrap', 'bootstrap-theme'])
  +distCss(['main'])

mixin footer
  footer
    p Powered by 
      a(href="https://github.com/sorra/pubstate") PubState
  +libJs(['jquery', 'bootstrap'])
  +distJs(['runtime', 'vendors', 'main'])

mixin userLabel(user)
  span.user-label(data-id=user.id)
    a.user-avatar(href="/users/#{user.id}")
      img(src="#{cdn}/images/#{user.avatar}")
    a.user-name(href="/users/#{user.id}")= user.name

mixin humanTimeLabel(dt)
  span.human-time(data-time=dt.time)= HumanTime.render(dt)

mixin showCount(count)
  if count > 0
    | #{count}

mixin articlesList(articles)
  if articles != null
    ul#articles
      for article in articles
        li.article
          a(href="/articles/#{article.id}")
            h3= article.title
          div
            +userLabel(article.author)
            span &nbsp;#{i18n.getMessage("ui_created_at")}&nbsp;
            +humanTimeLabel(article.whenCreated)
            if article.whenCreated != article.whenModified
              span &nbsp;#{i18n.getMessage("ui_modified_at")}&nbsp;
              +humanTimeLabel(article.whenModified)
            block
      else
        div No articles
    div!=paginationLinks
  else
    div Missing articles variable

mixin filesList(files)
  if files != null
    ul#files
      for file in files
        li.file
          a(href="/files/#{file.id}")
            h3= file.name
          div
            +userLabel(file.owner)
            +humanTimeLabel(file.whenCreated)
            block
      else
        div No files
