mixin css(path)
  link(href=Resource.get(path), rel="stylesheet", type="text/css")

mixin js(path)
  script(src=Resource.get(path))

mixin header
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  meta(name="description" content="PubState")
  link(href=Resource.get('/static/favicon.png') rel="icon" type="image/png")
  if DevMode
    for rs in DevMode.cssFiles()
      +css(rs)
  else
    +css("/static/css/libs.css")
    +css("/static/css/all.css")

mixin footer
  footer
    p Powered by PubState
  if DevMode
    for rs in DevMode.jsFiles()
      +js(rs)
  else
    +js("/static/js/libs.js")
    +js("/static/js/all.js")

mixin userLabel(u)
  span.user-label(data-id=u.id)
    a.user-avatar(href="/users/#{u.id}")
      img(src=Resource.get(u.avatar))
    a.user-name(href="/users/#{u.id}")= u.name

mixin humanTimeLabel(dt)
  span.human-time(data-time=dt.time)= humanTime(dt)

mixin showCount(count)
  if count > 0
    | #{count}