extends layout.jade

block customHeader
  title=i18n.getMessage("ui_user_profile")

block mainContent
  div
    div
      img#user-avatar(src="#{cdn}/images/#{user.avatar}")
      a(href="/profile/avatar")=i18n.getMessage("ui_change_avatar")
    div#user-name-control
      label #{i18n.getMessage("ui_name")}:
      span.display-bar
        span.display-value= user.name
        a.edit-btn(href="javascript:;")=i18n.getMessage("ui_edit")
      span.edit-bar(style="display:none")
        input.input-el(name="name")
        button.confirm-btn=i18n.getMessage("ui_confirm")
        button.cancel-btn=i18n.getMessage("ui_cancel")
    div#user-intro-control
      label #{i18n.getMessage("ui_introduction")}:
      span.display-bar
        span.display-value= user.intro
        a.edit-btn(href="javascript:;")=i18n.getMessage("ui_edit")
      span.edit-bar(style="display:none")
        input.input-el(name="intro")
        button.confirm-btn=i18n.getMessage("ui_confirm")
        button.cancel-btn=i18n.getMessage("ui_cancel")

block customFooter
  script.
    var profileEditor = new ProfileEditor()
