extends layout.jade

block customHeader
  title=i18n.getMessage("ui_signup")
  style.
    .heading {
      text-align: center;
      padding: 10px;
      color: green;
    }

block mainContent
  form.auth_form(action="/signup", method="post")
    h3.heading=i18n.getMessage("ui_signup")
    .input-group
      label(for="email")=i18n.getMessage("ui_email")
      input#email(name="email", type="text")
    .input-group
      label(for="name")=i18n.getMessage("ui_name")
      input#name(name="name", type="text")
    .input-group
      label(for="password")=i18n.getMessage("ui_password")
      input#password(name="password", type="password")
    .input-group
      label(for="repeat_password")=i18n.getMessage("ui_repeat_password")
      input#repeat_password(name="repeatPassword", type="password")
    .auth_acts.input-group
      button.btn.btn-block.btn-lg.btn-danger(type="submit")
        span.small-circle
          i.fa.fa-caret-right
        small=i18n.getMessage("ui_signup")
      a.btn(href="/login")=i18n.getMessage("ui_login_account")
