extends layout.jade

block customHeader
  title User: #{user.name}

block mainContent
  div
    a.user-avatar(href="/users/#{user.id}")
      img(src="#{cdn}/files/avatar/#{user.avatar}")
    a.user-name(href="/users/#{user.id}")= user.name
    span= user.intro
    +articlesList(articles)