extends layout.jade

block customHeader
  title #{i18n.getMessage("ui_user")}: #{user.name}

block mainContent
  div
    a.user-avatar(href="/users/#{user.id}")
      img(src="#{cdn}/images/#{user.avatar}")
    a.user-name(href="/users/#{user.id}")= user.name
    span= user.intro
    +articlesList(articles)