extends layout.jade
//- article?, draftId?, format?
block customHeader
  title=i18n.getMessage("ui_write_article")
  +libCss(['simplemde.min'])
  style.
    #article {
      width: 100%;
      margin: auto;
    }
    #header-wrapper {
      margin: 10px auto;
    }
    #title-edit {
      margin: 10px auto;
      width: 100%;
      height: 2em;
      padding: 0.5em;
    }
    #editor-wrapper {
      margin: 10px auto;
    }
    #content-edit {
      min-height: 35em;
      width: 100%;
    }
    .editor-toolbar.fullscreen, .CodeMirror-fullscreen {
      z-index: 1031;
    }

block mainContent
  - var action = '/articles/' + ((article && article.id) ? article.id : '')
  form#article(action=action, method='post', data-id=article.id data-draft-id=draftId)
    #header-wrapper
      if !format
        - var format = article ? article.format : 'HTML'
      - var formatTexts = {'HTML': '富文本', 'MARKDOWN': 'Markdown'}
      .format-select.dropdown
        span 编辑器
        button.btn.btn-info.btn-sm.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")= formatTexts[format]
          <span class="caret"></span>
        .dropdown-menu(aria-labelledby="dropdownMenuButton")
          a.dropdown-item(href="#", data-value="HTML", style="#{format=='HTML' ? 'display:none' : ''}")= formatTexts['HTML']
          a.dropdown-item(href="#", data-value="MARKDOWN", style="#{format=='MARKDOWN' ? 'display:none' : ''}")= formatTexts['MARKDOWN']
      input#format(name="format", type="hidden", value=format)
      input#title-edit(name='title', placeholder='Title here (No more than 50 characters)', value=article.title)
    #editor-wrapper
      textarea#content-edit(name='content', placeholder='Content here (No more than 20000 characters)')
        | !{article.inputContent}
    #submitter-wrapper
      // tag-input
    button.btn-submit.btn.btn-primary.pull-right(type='submit')=i18n.getMessage("ui_publish")

block customFooter
    +libJs(['tinymce/tinymce.min', 'simplemde.min'])
    +distJs(['write'])
    script.
      $(document).ready(function () {
        var $target = $('#article')
        var targetId = $target.data('id')
        var draftId = $target.data('draft-id')
        window.write = new Write($target[0], targetId, draftId)
        console.info('The write component is initialized.')
      })
