extends layout.jade
//- article?, draftId?, format?
block customHeader
  title=i18n.getMessage("ui_write_article")
  +libCss(['simplemde.min'])
  style.
    #article {
      width: 100%;
      margin: auto;
    }
    #header-wrapper {
      width: 90%;
      margin: 20px auto;
    }
    #title-edit {
      width: 67%;
      margin-left: 100px;
      height: 2em;
      padding: 0.5em;
    }
    #editor-wrapper {
      margin: 20px auto;
    }
    #content-edit {
      min-height: 35em;
      width: 100%;
    }
    .editor-toolbar.fullscreen, .CodeMirror-fullscreen {
      z-index: 1031;
    }

block mainContent
  - var action = '/articles/' + ((article && article.id) ? article.id : '')
  form#article(action=action, method='post', data-id=article.id data-draft-id=draftId)
    #header-wrapper
      if !format
        - var format = article ? article.format : 'MARKDOWN'
      - var alterFormat = (format == 'MARKDOWN') ? 'HTML' : 'MARKDOWN'
      a(href='#switch-editor-dialog', data-url='?format=#{alterFormat}', data-toggle='modal')
        | Switch to #{alterFormat}
      input#format(name='format', type='hidden', value=format)
      input#title-edit(name='title', placeholder='Title here (No more than 50 characters)', value=article.title)
    #editor-wrapper
      textarea#content-edit(name='content', placeholder='Content here (No more than 20000 characters)')
        | !{article.inputContent}
    #submitter-wrapper
      // tag-input
    button.btn-submit.btn.btn-primary.pull-right(type='submit')=i18n.getMessage("ui_publish")

block customFooter
    #switch-editor-dialog.modal.fade(tabindex='-1', role='dialog')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal') ×
            h4.modal-title Switch the editor? (Current inputs won't be saved)
          .modal-footer
            button.sure-btn.btn.btn-primary(type='button') Switch
            button.btn.btn-default(type='button', data-dismiss='modal')=i18n.getMessage("ui_cancel")

    - var editorLibName = (format == 'MARKDOWN') ? 'simplemde.min' : 'tinymce/tinymce.min'
    +libJs([editorLibName])
    +distJs(['write'])
    script.
      $(document).ready(function () {
        var $target = $('#article')
        var targetId = $target.data('id')
        var draftId = $target.data('draft-id')
        window.write = new Write($target[0], targetId, draftId)
        console.info('The write component is initialized.')
      })
