doctype html
html
  //- article?, draftId?, format?
  include common.jade
  head
    +header
    title Write Article
    +css('/static/css/simplemde.min.css')
    style.
      #article {
        width: 100%;
        margin: auto;
      }
      #header-wrapper {
        width: 90%;
        margin: 20px auto;
      }
      #title {
        width: 67%;
        margin-left: 100px;
        height: 2em;
        padding: 0.5em;
      }
      #editor-wrapper {
        width: 90%;
        margin: 20px auto;
      }
      #content {
        min-height: 35em;
      }
      .editor-toolbar.fullscreen, .CodeMirror-fullscreen {
        z-index: 1031;
      }
  body
    include navbar.jade
    #container.container
      - var action = '/articles/' + ((article && article.id) ? article.id : '')
      form#article(action=action, method='post')
        #header-wrapper
          if !format
            - var format = article ? article.format : 'markdown'
          - var alterFormat = format == 'markdown' ? 'richtext' : 'markdown'
          a(href='#switch-editor-dialog', data-url='?format=#{alterFormat}', data-toggle='modal')
            | Switch to #{alterFormat}
          input#format(name='format', type='hidden', value=format)
          input#title(name='title', placeholder='Title here (No more than 50 characters)', value=article.title)
        #editor-wrapper
          textarea#content(name='content', placeholder='Content here (No more than 20000 characters)')
            | !{article.inputContent}
        #submitter-wrapper
          | $\!{include("tag-input.httl")}
        button.btn-submit.btn.btn-primary.pull-right(type='submit') Submit
    +footer

    #switch-editor-dialog.modal.fade(tabindex='-1', role='dialog')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal') ×
            h4.modal-title Switch the editor? (Current inputs won't be saved)
          .modal-footer
            button.sure-btn.btn.btn-primary(type='button') Switch
            button.btn.btn-default(type='button', data-dismiss='modal') Cancel

    +js('/static/js/simplemde.min.js')
    +js('/static/js/tinymce/tinymce.min.js')
    script.
      var draftId = #{draftId ? draftId : 'null'}
      var articleId = #{article.id ? article.id : 'null'}
      setup(tag_setup, write_setup)
